<style>
  .active {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity));
  }
  .nav-linkss{
    font-size: 1.2em;
  }

  @media only screen and (max-width: 600px) {

    .tch {
      display: none;
    }
  }
  .goog-te-combo{
    border: hidden;
    /* padding: 3em; */

  }
  .languege{
    display: flex;
    justify-content: center;
  }

  .goog-te-combo{
  /* width: 11; */
    background: var(--main-bg);
  }
  .inputwall:hover{
    cursor: pointer;
  }
  
</style>
<header>
  <div class="container navc   px-4 mx-auto xl:px-3 z-50   max-w-screen-lg py-2 lg:py-3">
    <nav class="navstyle">
      <div class="flex flex-wrap justify-between md:flex-nowrap md:gap-10">
        <div
          class="order-1 hidden w-full flex-col items-center justify-start md:order-none md:flex md:w-auto md:flex-1 md:flex-row md:justify-end">
          <a class="px-5 nav-linkss  homebtn py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 "
            target="" rel="" href="/">Home</a><a
            class="px-5 nav-linkss  servicebtn py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 " target=""
            rel="" href="/service">Our Service</a>
            <a
            class="px-5 nav-linkss  py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 " target=""
            rel="" href="/givng-back">Giving Back</a>
        </div>
        <div class="flex w-full items-center justify-between md:w-auto">

          <a class="  w-28 flex justify-center items-center" href="/"><img alt="Logo" fetchpriority="high" width="132"
              height="52" decoding="async" data-nimg="1" sizes="(max-width: 640px) 100vw, 200px"
              srcset="/imgs/AWO-TITLE-Final.png, /imgs/AWO-TITLE-Final.png" src="/imgs/AWO-TITLE-Final.png"
              style="color: transparent; width: 6em;"></a>

          <button aria-label="Toggle Menu" 
            class="ml-auto rounded-md px-2 py-1 text-gray-500 focus:text-blue-500 focus:outline-none md:hidden "
            id="hamburger" type="button" aria-expanded="false" data-headlessui-state=""><svg
              class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
              </path>
            </svg></button>


        </div>
        <div
          class="order-2 hidden w-full flex-col items-center justify-start md:order-none md:flex md:w-auto md:flex-1 md:flex-row">
          <a class="px-5 nav-linkss  aboutus py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 "
            target="" rel="" href="/about-us" style="width: 7em;"><span> About Us</span></a><a
            class="px-5 nav-linkss  py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 "
            rel="noopener" href="/contact-us" style="width: 10em;"><span> Contact us</span>
</a>
              <!-- <a
            class="px-5 py-2 text-sm font-medium text-gray-600 navtext hover:text-blue-500 "
            rel="noopener"
            href="/updates"><span>
              Updates</span></a> -->
              <div class="languege">
                <div id="google_translate_element"></div>
        
            </div>


        </div>
        <div id="mobileMenu" class=" order-2 w-full flex-col items-center justify-start md:order-none  md:w-auto md:flex-1 md:flex-row hidden">
          <!-- Navigation Links -->
          <a class="block bg-gray-100 mt-3 p-3 rounded-xl  homebtn  text-sm font-medium text-gray-600 navtext hover:text-blue-500" href="/">Home</a>
          <a class="block bg-gray-100 mt-3 p-3 rounded-xl servicebtn  text-sm font-medium text-gray-600 navtext hover:text-blue-500" href="/service">Our Service</a>
          <a class="block bg-gray-100 mt-3 p-3 rounded-xl servicebtn  text-sm font-medium text-gray-600 navtext hover:text-blue-500" href="/givng-back">Giving back</a>

          <a class="block bg-gray-100 mt-3 p-3 rounded-xl servicebtn  text-sm font-medium text-gray-600 navtext hover:text-blue-500" href="/about-us">About Us</a>
          <a class="block bg-gray-100 mt-3 p-3 rounded-xl servicebtn  text-sm font-medium text-gray-600 navtext hover:text-blue-500" href="/contact-us">Contact Us</a>

        </div>
      </div>
    </nav>
  </div>
</header>
<script>
  $(document).ready(function () {
    const servicebtn = document.querySelector('.servicebtn');
    const buisnesslaw = document.querySelector('.buisnesslaw');
    const estateplaing = document.querySelector('.estateplaing');
    const aboutus = document.querySelector('.aboutus');
    const contactus = document.querySelector('.contactus');


    const homebtn = document.querySelector('.homebtn')
    $('.nav-linkss').click(function () {
      $('.nav-linkss').removeClass('active');
      $(this).addClass('active');
    });
    var url = window.location.pathname;
    $('.nav-linkss').removeClass('active');
    $('.nav-linkss[href="' + url + '"]').addClass('active');

    if (url == '/service') {
      servicebtn.addClass('active');
    }
    if (url == '/') {
      homebtn.addClass('active');
    }

    if (url == '/buisness-law') {
      buisnesslaw.addClass('active');
    }
    if (url == '/estate-planing') {
      estateplaing.addClass('active');
    }
    if (url == '/about-us') {
      aboutus.addClass('active');
    }
    if (url == '/contact-us') {
      contactus.addClass('active');
    }


  });
  document.getElementById('hamburger').addEventListener('click', function() {
  var menu = document.getElementById('mobileMenu');
  if (menu.classList.contains('hidden')) {
    menu.classList.remove('hidden');
    menuclassList.add('md:flex')
  } else {
    menu.classList.add('hidden');
  }
});

</script>